@using NI_Project.Shared

<EditForm Model="Book" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Title</label>
        <InputText @bind-Value="Book.Title" class="form-control" />
        <ValidationMessage For="() => Book.Title" />
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <InputText type="email" @bind-Value="Book.Author" class="form-control" />
        <ValidationMessage For="() => Book.Author" />
    </div>
    <div class="mb-3">
        <label class="form-label">Publisher</label>
        <InputDate @bind-Value="Book.Publisher" class="form-control" />
        <ValidationMessage For="() => Book.Publisher" />
    </div>
    <div class="mb-3">
        <label class="form-label">Year of Publish</label>
        <InputDate @bind-Value="Book.YearOfPublish" class="form-control" />
        <ValidationMessage For="() => Book.YearOfPublish" />
    </div>

    <button type="submit" class="btn btn-primary">@ButtonText</button>
</EditForm>

@code {

    [Parameter]
    public Book Book { get; set; }

    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

}